html,
body {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
}

section {
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: auto;
}

header {
    position: fixed;
    right: 0;
    left: 0;
    z-index: 1030;
    height: 56px;
    /*width: 100%;*/
    background: #eee;
}

article {
    background: yellow;
    flex-grow: 1;
}

@media (min-width: 768px) {
    .navbarNav {
        float: left;
        margin: 0;
    }
}

.nav {
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;
}

ul>li {
    margin: 0 20px;
}

:global .header_button button {
    height: 38px;
    width: 80px;
    margin: 0 6px;
    border: 1px solid rgba(236, 97, 73, .7);
    border-radius: 20px;
    font-size: 15px;
}

:global .header_button .acticle {
    height: 38px;
    width: 100px !important;
    margin: 0 6px;
    border: 1px solid rgba(236, 97, 73, .7);
    border-radius: 20px;
    font-size: 15px;
}

:global .ant-menu-horizontal>.ant-menu-item>a {
    display: flex;
    flex-direction: column;
    padding-top: 15px;
    color: rgba(0, 0, 0, 0.65);
}

 :global .ant-menu-horizontal>.ant-menu-item-selected {
    border-bottom: 2px solid #fff !important;
    color: #fff !important;
}

:global .ant-menu-horizontal>.ant-menu-item:hover {
    border-bottom: 2px solid #fff !important;
    color: #fff !important;
}

:global .ant-menu-horizontal>.ant-menu-item-active {
    background-color: #49a9ee;
}