:global .ant-menu-horizontal>.ant-menu-item>a {
    display: flex;
    flex-direction: column;
    padding-top: 15px;
    color: rgba(0, 0, 0, 0.65);
}

 :global .ant-menu-horizontal>.ant-menu-item-selected {
    border-bottom: 2px solid #fff !important;
    color: #fff !important;
}

:global .ant-menu-horizontal>.ant-menu-item:hover {
    border-bottom: 2px solid #fff !important;
    color: #fff !important;
}

:global .ant-menu-horizontal>.ant-menu-item-active {
    background-color: #49a9ee;
}